* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 80%;
  max-width: 700px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px 15px;
  border: none;
  background: royalblue;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  opacity: 0.9;
}

.note {
  margin-top: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.note h2 {
  margin-bottom: 10px;
}

.delete-btn {
  background: crimson;
  margin-top: 10px;
}

.logout-btn {
  background: black;
  margin-left: 10px;
}

.dashboard {
  width: 80%;
  max-width: 800px;
  margin: 30px auto;
}

.dashboard h1 {
  text-align: center;
  margin-bottom: 20px;
}

.create-btn {
  background-color: royalblue;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
}

.create-btn:hover {
  background-color: #2952cc;
}

.note-card {
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.note-card h2 {
  margin-bottom: 10px;
}

.note-card p {
  margin-bottom: 10px;
}

.delete-btn {
  background-color: crimson;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: darkred;
}

.logout-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.logout-btn:hover {
  background-color: #333;
}

.bottom-section{
    margin-top:20px;
    text-align:center;
}

.bottom-section button{
    display:block;
    margin:0 auto 10px auto;
    
}

.bottom-section p{
    margin:0;
}
